

#login {
	border: 1px solid black;
	margin: 0 auto;
}

.login, #login-button {
	width: 80%;
	height: 40px;
	font-size: 1.2em;

}
/* login text fields */
.login {
	font-family: 'Lato', sans-serif;
	display: inline-block;
	padding-left: 10px;
	vertical-align: middle;
	margin: 5px;
	background: #f7f7f7;
	box-shadow: inset 0 0 5px 2px #cecccc;
	border-radius: 5px;
	border: none;
}

#login_button {
	width: 80%;
	margin: 20px 5px 5px 5px;
}

/*login box*/

.login_fields {
	margin: 100px;
	text-align: center;
}

