/*
************************
General
************************
*/


/* turn off the annoying highlight on a tap (we provide our own visual feedback) */
* {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

/* prevent the user from highlighting any text */
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* allow highlighting text in inputs */
input {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

body {
    font-size: 1em;
    color: #ccc;
	font-family: 'Lato', sans-serif;
}




/*
************************
Navigation
************************
*/

.tab {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	height: 30px;
	width: 23%;
	vertical-align: middle;
	margin: 15px 0px;
	background-size: contain;
}

.nav {
	position: fixed;
	height: 60px;
	bottom: 0px;
	width: 100%;
	clear: both;
	text-align: center;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);

	border: 1px solid #ccc;
	border-top-color: #bbb;

}

.tab.ME {
	background-image:url('img/starred.png');
}

.tab.search {
	background-image: url('img/search.png');
}

.tab.notify {
	background-image: url('img/globe.png');
}

.tab.create {
	background-image: url('img/create.png');
}






/*
************************
Header
************************
*/

/* also "CMUnications" text is center aligned */
#topbar {
	background-color: #017fd6;
  	background-image: -moz-linear-gradient(top, #049cdb, #014c81);
  	background-image: -webkit-linear-gradient(top, #049cdb, #014c81);
  	background-image: linear-gradient(top, #049cdb, #014c81);
	height: 50px;
	text-align: center;
	vertical-align: middle;
	font-size: 1.2em;
	font-weight: bold;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.01em;
	width: 100%;
	color: #fefefe;
}

/* doesn't fucking work center align 
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
#topbar:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

.top_button {
	font-family: inherit;
	vertical-align: middle;
	color: #FFF;
	padding: 8px;
	margin: 6px;
  	font-size: 0.8em;
	background-color: #017fd6;
  	background-image: -moz-linear-gradient(top, #049cdb, #014c81);
  	background-image: -webkit-linear-gradient(top, #049cdb, #014c81);
  	background-image: linear-gradient(top, #049cdb, #014c81);
  	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  	border-color: #0064cd #0064cd #003f81;
  	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#left_button {
	float: left;
}

#right_button {
	float: right;
}



#clearfix {
	clear: both;
}


/*
************************
Create Event
************************
*/

.name .location .description {
	display: block;

}



/*
************************
Each Event
************************
*/



.myevents li {
	padding: 10px;
	margin: 10px;
	background-color: #fefefe;
	color: #696969;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

/* event name */
.myevents li h3 {
	font-size: 1.4em;
	color: #65a9d7;
}

.myevents .time, .myevents .location {
	padding-bottom: 10px;
	color: #696969;
}

.myevents .time {
	padding-top: 4px;
	font-size: 0.8em;
}

.myevents .location {
	font-size: 1em;
}

.myevents a {
	margin-top: 20px;
	text-decoration: underline;
}

.myevents .starred {
	background-image: url('img/favorites.png');
	display: inline-block;
	float: right;
	background-size: contain;
	height: 30px;
	width: 30px;
}
/*
************************
Create Event
************************
*/

#eventInfo {
	padding: 40px;
}

#eventInfo .name, #eventInfo .location, .timeStart, .timeEnd, .description {
	display: block;
  	font-size: 15px;
  	background-color: inherit;
	margin-top: 5px;
	padding: 0px;
	width: 100%;
	resize: none;
	border: none;
	border-top: 1px solid grey;
	overflow: auto;
  	border-radius: 5px;
}

.description {
	overflow: scroll;
  	font-size: 15px;
  	background-color: inherit;
	margin-top: 5px;
	padding: 0px;
	width: 100%;
	height: 140px;
	resize: none;
	border: none;
	border-top: 1px solid grey;
	overflow: auto;
  	border-radius: 5px;
}







